<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring 文档</title>
</head>
<body>
<table border="1">
    <thead>
        <th>版本</th>
        <th>文档</th>
        <th>接口</th>
    </thead>
    <tr th:each="spring : ${versions}">
        <td th:text="${spring.version}"></td>
        <td><a th:href="@{${spring.reference}}">Reference Doc</a></td>
        <td><a th:href="@{${spring.api}}">API Doc</a></td>
    </tr>
</table>
</body>
</html>